<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW NOTESHEET</title>
    <link rel="stylesheet" href="/user/viewnotesheet.css" media="all"> 
</head>
<body>
    <div class="wrapper">
    <div class="img"><img src="https://www.medicaps.ac.in/resources/img/logo-navbar.png" alt="Medi-Caps logo"></div>
    <div class="department"><h1>Department Of <%=Creator[0].DEPTNAME%><p></p></h1></div>
    <div class="fields">
        <h3>Notesheet</h3>
    <div class="date">Date:<%=Notesheet[0].DATE.toDateString()%> <p></p></div>
    <div class="sub"><b>Subject:</b><%= Notesheet[0].SUBJECT %><p></p></div>
    <div class="descr">
        Description : 
        <br>
        <% let data = Notesheet[0].DETAILS.split("\r\n") %>
        <% for(let i=0 ; i<data.length ; i++){ %>
        <%= data[i] %>
        <br>
    <% } %>
    
    </div>
    <div class="sname">Name:<%= Creator[0].EMPNAME %> <p></p></div> 
    <div class="sid">Id <%= Creator[0].EMPID %><p></p></div>
    <div class="fac">Faculty:<%= Creator[0].FNAME %><p></p></div>
    <div class="dept">Department:<%=Creator[0].DEPTNAME%><p></p></div>
    <div class="des">Designation:<%=Creator[0].DESIGNATION%><p></p></div>
    
    
    
    
    
    
    <p>
        <br>
        <br>
        <br>
    </p>
</div>
<div class="check">
    <form action="">
    <ul >
        <h3>Approved By</h3>
        <div class="checker">
            <%let status = Notesheet[0].STATUS%>
            <%if(status == 0){%>
                <li>HOD <b>::</b> Not Approved</li>
                <li>Dean <b>::</b> Not Approved</li>
                <li>Pro VC <b>::</b> Not Approved</li>
                <li>VC <b>::</b> Not Approved</li>
                <li>OSD <b>::</b> Not Approved</li>
            <% } %>
            <%if(status == 1){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Not Approved</li>
                <li>Pro VC <b>::</b> Not Approved</li>
                <li>VC <b>::</b> Not Approved</li>
                <li>OSD <b>::</b> Not Approved</li>
            <% } %>
            <%if(status == 2){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Not Approved</li>
                <li>VC <b>::</b> Not Approved</li>
                <li>OSD <b>::</b> Not Approved</li>
            <% } %>
            <%if(status == 3){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Approved</li>
                <li>VC <b>::</b> Not Approved</li>
                <li>OSD <b>::</b> Not Approved</li>
            <% } %>
            <%if(status == 4){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Approved</li>
                <li>VC <b>::</b>  Approved</li>
                <li>OSD <b>::</b> Not Approved</li>
            <% } %>
            <%if(status == 5){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Approved</li>
                <li>VC <b>::</b> Approved</li>
                <li>OSD <b>::</b> Approved</li>
            <% } %>
            <%if(status == 11){%>
                <li>HOD <b>::</b> Declined</li>
            <% } %>
            <%if(status == 12){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Declined</li>
            <% } %>
            <%if(status == 13){%>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Declined</li>
            <% } %>
            <%if(status == 14){ %>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Approved</li>
                <li>VC <b>::</b> Declined</li>
            <% } %>
            <%if(status == 15){ %>
                <li>HOD <b>::</b> Approved</li>
                <li>Dean <b>::</b> Approved</li>
                <li>Pro VC <b>::</b> Approved</li>
                <li>VC <b>::</b> Approved</li>
                <li>OSD <b>::</b> Declined</li>
            <% } %>


</div>
</body>
</html>

